MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgres://caffelia:caffelia@localhost/caffelia_db
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=caffelia-ecommerce-storefront
S3_FILE_URL=https://caffelia-ecommerce-dev.s3.us-east-2.amazonaws.com
S3_ACCESS_KEY_ID=AKIATR63ULAS3JVW6GRR
S3_SECRET_ACCESS_KEY=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
S3_REGION=us-east-2
S3_BUCKET=caffelia-ecommerce-dev
S3_ENDPOINT=https://s3.us-east-2.amazonaws.com
MIPAQUETE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MGI0OWI2ZmMxN2NlMDM0Y2ZmZGM3YzEiLCJuYW1lIjoicHJ1ZWJhcyIsInN1cm5hbWUiOiIuIiwiZW1haWwiOiJwcnVlYmFzbWlwYXF1ZXRlb2ZpY2lhbEBnbWFpbC5jb20iLCJjZWxsUGhvbmUiOiIzMTM2MjczMjM5IiwiY3JlYXRlZEF0IjoiMjAyMS0wNS0zMVQwODoxNjo0Ny43ODhaIiwiZGF0ZSI6IjIwMjUtMDktMTcgMTk6MzQ6MzciLCJpYXQiOjE3NTgxNTU2Nzd9.2ETY1ZhGTGk9wRa20y8F5Mkfp0NfGlt7yEzJyRgCRhc
MIPAQUETE_SESSION_TRACKER=a0c96ea6-b22d-4fb7-a278-850678d5429c
MIPAQUETE_ORIGIN_DANE_CODE=76147000
MIPAQUETE_BASE_URL=https://api-v2.dev.mpr.mipaquete.com
MERCADOPAGO_ACCESS_TOKEN=TEST-6573691030978393-071416-0dec227ac6b01cf0142c43439b51b1db-384448182
MERCADOPAGO_PUBLIC_KEY=TEST-c546920a-f32a-4c55-8919-69ee1106caaf
MERCADOPAGO_WEBHOOK_SECRET=5238210fa4bf76c35dac14ebacab948c4facd8f1b323d49dce27f1fe320fe948
MERCADOPAGO_SUCCESS_URL=http://localhost:3000/checkout/success
MERCADOPAGO_FAILURE_URL=http://localhost:3000/checkout/failure
MERCADOPAGO_PENDING_URL=http://localhost:3000/checkout/pending
MERCADOPAGO_BASE_URL=https://api.mercadopago.com

